#first > h1, img, hr, p{
	display : inline-block;
	margin-left : 50px;
	
}
#second > h1, img, hr, p{
	display : inline-block;
	margin-left : 50px;
}
p{
	color : black;
	font-family : 'Calibri';
	font-size : 25px;
}
#fimg{
	height : 50px;
	width : 230px;
	position : relative;
	top : 15px;
	}
#simg{
	height : 50px;
	width : 50px;
	position : relative;
	top : 15px;
}
