body{
	font-family : 'Corbel';
	text-align : justify;
}
.header{
	margin-top : 150px;
}
.header>hr{
	width : 750px;
	margin-top : -10px;
}
.content{
	background-color : #252525;
	color : white;
	width : 750px;
	margin-top : -17px;
	font-size : 20px;
	padding: 15px;
	border : 5px solid rgba(0,0,0,0.5);
	border-top : none;
}
.pic{
	float : left;
	margin-left : 50px;
	margin-top : -90px;
}
.pic>a>img{
	height : 50px;
	width : 140px;
}