body{
	font-family : 'corbel';
	color : #464646;
}
.header{
	float : left;
	margin : 50px;
	
}
.header>img{
	height : 50px;
	width : 140px;
}

.container{
	clear : both;
	margin : 0;
	padding : 0;
	position : relative;
	top : 5px;
	bottom : 50px;
}
.container>img{
	position : relative;
	width : 150px;
	height : 150px;
	border : 2px solid #464646;
	border-radius : 7em;
}
.container>p{
	font-weight : bold;
	font-size : 30px;
	margin : 0;
	padding : 0;
	word-spacing : 3px;
}
.container>a{
	position : relative;
	background-color : #464646;
	top : 60px;
	color : white;
	border: 1px solid white;
	text-decoration : none;
	overflow : hidden;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 25px;
	padding-right : 25px;
}
.footer{
	display : inline-block;
	position : relative;
	top : 120px;
	margin : 0;
	padding : 0;
	}
.footer>p{
	position : relative;
	top : 130px;
	text-align : center;
	margin :0;
	padding : 0;
}
.footer > ul{
	margin-right : 50px;
	
}
.footer>ul>a>li>img{
	width : 35px;
	height : 35px;
	margin-left : 5px;
	
}